
body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  display: grid;
  grid-template-areas:
    "h h h"
    "s s s"
    ". p ."
    "f f f";
  grid-template-rows: 30px minmax(200px, 20vh) 1fr 60px;
  grid-template-columns: 1fr minmax(auto, 60rem) 1fr;
}

.title {
  display: block;
  font-size: 2.0rem;
  grid-area: s;
  font-family: ff-meta-serif-web-pro, serif;
}

.date {
  grid-area: p;
}

.splash {
  grid-area: s;
  width: 100%;
}

header {
  grid-area: h;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.me {
  backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid white;
  box-shadow: 0px 0px 4px black;
  font-family: ff-meta-serif-web-pro, serif;
  font-size: 2rem;
  padding: 4px 10px 0px 10px;
  position: absolute;
  right: 15px;
  text-align: right;
  text-shadow: 0px -1px 8px white, 0px -1px 7px white;
  ;
  top: 15px;
}

article {
  grid-area: p;
  background-color: rgba(240, 240, 240, 0.95);
  padding: 20px;
  box-shadow: 4px 4px 14px rgba(0,0,0, 0.2);
}

footer {
  grid-area: f;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: orange; */
}

input {
  padding: 2px 0.7rem;
  border-radius: 10px;
  outline: none;
}
